body{
	background-color: RGB(255, 250, 107);
}
h1 {
	color: darkblue;
	font-family: "Playfair Display",serif;
  font-weight: 700;
}

h2 {
	color: blue;
}

p {
	color: grey;
}

.placeholder {
	border: 5px solid orange;
	padding: 5px;
	color: orange;
}

.important {
	text-decoration: underline;
}
